*{box-sizing:border-box;margin:0;padding:0}.active{color:#00f;background-color:#adff2f}ul{list-style:none}.header{padding:20px}.header>ul>li>a{padding:5px 20px}.main{padding-left:20px}.navLink{font-size:20px}.nav{display:flex}
