* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active {
  color: blue;
  background-color: greenyellow;
}
ul {
  list-style: none;
}

.header {
  padding: 20px;
}
.header > ul > li > a {
  padding: 5px 20px;
}
.main {
  padding-left: 20px;
}
.navLink {
  font-size: 20px;
}
